@import "../../styles/colors.scss";
@import "../../styles/font.scss";
@import '../../styles/margin.scss';

.container {
  display: flex;
  justify-content: center;
  margin-bottom: $margin-bottom-3;
  button {
    @include button-text-2;
    padding: 7px 90px;
    border-radius: 50px;
    background: $primary-color;
    color: #fff;
  }
}
