@import "../../styles/colors.scss";
@import "../../styles/margin.scss";
@import "../../styles/font.scss";

.outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    border: 1px solid black;
    width: 984px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .left {
      background-image: url("../../assets/Rectangle\ 10041.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .right {
      padding: 30px 65px;
      h3{
        @include main-header-3;
        text-align: center;
        margin-bottom: $margin-bottom-5;
      }
      .subtitle{
        @include body-text-6;
        color: $gray-3;
        text-align: center;
        margin-bottom: $margin-bottom-1;
      }
    }
  }
}
