$primary-color: #4b4770;
$secondary-color: #cd3e57;
$success-color: #27ae60;
$warning-color: #e2b93b;
$error-color: #eb5757;
$selection-color: #d6d2f2;
$inactive-color: #aaa5ce;
$white: #fff;
$black-2: #1d1d1d;
$black-3: #282828;
$gray-1: #323232;
$gray-2: #5b5b5b;
$gray-3: #adadad;
$gray-4: #d6d6d6;
$gray-5: #f2f2f2;
